* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$light_green: #effffa;
$dark_green: #14da8f;
$light_grey: #dadada;
$dark_grey: #3e3e3e;
$black: #000000;
$white: #fff;
.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $white;
  overflow-x: hidden;
  background-color: $light_green;
}

.wrapper {
  @extend .dflex;
  min-height: 100vh;

  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, $dark_green, $light_green);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
  }
  .container {
    position: relative;
    width: 70vw;
    height: 80vh;
    background-color: $white;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;

    .SigninSignup {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      z-index: 5;

      .SignInForm,
      .SignUpForm {
        @extend .dflex;
        flex-direction: column;
        width: 40%;
        min-width: 238px;
        padding: 0 10px;
        .title {
          font-size: 35px;
          color: $dark_green;
          margin-bottom: 10px;
        }
        .inputField {
          width: 100%;
          height: 50px;
          background: $light_grey;
          margin: 10px 0;
          border: 2px solid $dark_green;
          border-radius: 50px;
          @extend .dflex;
          i {
            flex: 1;
            text-align: center;
            color: $dark_green;
            font-size: 18px;
          }
          .inputS {
            flex: 5;
            background: none;
            border: none;
            outline: none;
            width: 100%;
            font-size: 18px;
            /* font-weight: 600; */
            color: $dark_grey;
          }
        }
        .socialText {
          margin: 10px 0;
          font-size: 16px;
        }
        .socialMedia {
          @extend .dflex;
          .socialIcon {
            height: 45px;
            width: 45px;
            @extend .dflex;
            color: $dark_green;
            border: 1px solid $black;
            border-radius: 50px;
            margin: 0 5px;
          }
          .socialIcon:hover {
            color: $dark_green;
            border-color: $dark_green;
          }
        }
      }
    }
  }

  /* btn */

  .btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: $dark_green;
    color: $white;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
  }
  .btn:hover {
    background-color: $dark_grey;
  }

  /* panel */

  .panelContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    z-index: 6;
    text-align: center;

    .content {
      color: $dark_grey;
      transition: 1.1s ease-in-out;
      transition-delay: 0.5s;
    }
    .panelTitle {
      font-size: 24px;
      font-weight: 600;
    }
    .panelText {
      font-size: 15px;
      padding: 10px 0;
    }
    .image {
      width: 100%;
      transition: 1.1s ease-in-out;
      transition-delay: 0.4s;
    }
  }

}

.leftPanel .content,
.leftPanel .image {
  transform: translateX(-200%);
}

.rightPanel .content,
.rightPanel .image {
  transform: translateX(0);
}
/* Animation */

.container.signUpMode::before {
  transform: translateX(0);
}

.container.signUpMode .rightPanel .image,
.container.signUpMode .rightPanel .content {
  transform: translateX(200%);
}

.container.signUpMode .leftPanel .image,
.container.signUpMode .leftPanel .content {
  transform: translateX(0);
}

.SignInForm {
  opacity: 1;
  transition: 0.5s ease-in-out 1s;
}

.SignUpForm {
  opacity: 0;
  transition: 0.5s ease-in-out 1s;
}

.container.signUpMode form.SignInForm {
  opacity: 0;
}

.container.signUpMode form.SignUpForm {
  opacity: 1;
}

/* click */

.leftPanel{
  pointer-events: none;
}

.container.signUpMode .rightPanel{
  pointer-events: none;
}

.container.signUpMode .leftPanel{
  pointer-events: all;
}


/* responsive */

