*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$light_green:#effffa;
$dark_green:#14da8f;
$black:#000000;
$white: #fff;
.dflex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
body{
    display: block;
    width: 100%;
    height: 100%;
    background-color: $white;
    overflow-x: hidden;
}
header{
    @extend .dflex;
    justify-content: space-between;
    padding: 0 13%;
    height: 120px;
    .logo_wrapper{
        font-size: 32px;
        font-weight: 600;
        span{
            color: $dark_green;
        }
    }
    .menu_container{
        @extend .dflex;
        justify-content: flex-end;
        width: 600px;
        height: 56px;
        span{
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            height: 100%;
            +span{
                &:before{
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 50%;
                    background-color: #bdbdbd;
                    left: -36px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .icon{
                display: inline-flex;
                +.icon{
                    margin-left: 20px;
                }
            }
            &:nth-child(1){
                width: 22%;
            }
            &:nth-child(2){
                width: 42%;
                .icon{
                    margin-right: 20px;
                }
            }
            &.menu{
                @extend .dflex;
                width: 56px;
                height: 56px;
                background-color: $dark_green;
                color: $white;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }
}