* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$light_green: #effffa;
$dark_green: #14da8f;
$black: #000000;
$white: #fff;
.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $white;
  overflow-x: hidden;
}

.wrapper {
  @extend .dflex;
  height: 100vh;
}
.field {
  margin-bottom: 30px;
}
